{% extends 'BuildPythonPleaseGUI/menu_base.html' %}

{% block content %}

<div class="container">
	<h1>{{ project.title }}</h1>

	<div class="col-lg-12 col-md-12 panel panel-default">
		<div class="panel-heading panel-heading-custom" style="font-weight:bold">{{ project.id }}</div>
		    <div class="panel-body">
		  	  
		        <table  id="projects" class="table">

				  <thead>
				  	<tr>

				 	 </tr>
				  </thead>
				   <tbody>


				  <tr  style="padding:0px;margin:0px;"> 
				  	<td style="padding:0px;margin:0px;">
				  	<table class="table table-bordered"  style="margin:0px;">
					<tr>
		                <td colspan="5" class="table-title">
		                	Title
		            	</td>
		                <td colspan="10">
		                	{{ project.title }}
		            	</td>
		            </tr>
		            <tr>
					<tr>
		                <td colspan="5" class="table-title">
		                	Owner
		            	</td>
		                <td colspan="10">
		                	{{ project.owner }}
		            	</td>
		            </tr>
					<tr>
		                <td colspan="5" class="table-title">
		                	Version
		            	</td>
		                <td colspan="10">
		                	{{ project.version }}
		            	</td>
		            </tr>
					<tr>
		                <td colspan="5" class="table-title">
		                	Client
		            	</td>
		                <td colspan="10">
		                	{{ project.client }}
		            	</td>
		            </tr>
					<tr>
		                <td colspan="5" class="table-title">
		                	Description
		            	</td>
		                <td colspan="10">
		                	{{ project.description }}
		            	</td>
		            </tr>
					<tr>
		                <td colspan="5" class="table-title">
		                	Status
		            	</td>
		                <td colspan="10">
		                	{{ project.status }}
		            	</td>
		            </tr>
					<tr>
		                <td colspan="5" class="table-title">
		                	Payout
		            	</td>
		                <td colspan="10">
		                	{{ project.payout }}
		            	</td>
		            </tr>


			            </table>
		            </td>
		            </tr>
				   </tbody>
				  
				  </table>
		</div>
		{% if is_owner %}
			{% if is_closed %}
			<br>
			{% else %}

			{% if solutions %}
			{% for solution in solutions %}
			<div class="panel-heading panel-heading-custom">{{ solution.id }}</div>
		    <div class="panel-body">
		  	  
		        <table  id="projects" class="table">

				  <thead>
				  	<tr>

				 	</tr>
				  </thead>
				   <tbody>


				  <tr  style="padding:0px;margin:0px;"> 
				  	<td style="padding:0px;margin:0px;">
				  		<table class="table table-bordered"  style="margin:0px;">
						  
						  <tr>
		            		<td colspan="5" class="table-title" style="font-size:14px;">
		               			Sender
		            		</td>
		               		<td colspan="10" style="font-size:14px;">
		               			{{ solution.sender }}
		            		</td>
		            	  </tr>
		            	  <tr>
		            		<td colspan="5" class="table-title" style="font-size:14px;">
		               			Owner
		            		</td>
		               		<td colspan="10" style="font-size:14px;">
		               			{{ solution.owner }}
		            		</td>
		            	  </tr>
						   <tr>
		            		    <td colspan="10" style="font-family:Courier New;font-size:12px;padding:15px;padding-left:25px;">
		            		    	{{ solution.solution }}
		            			</td>
		            	   </tr>
						   <tr>
						   	  <td colspan="10">
		            		   <form method='get' action='#'>
		            		   	<input style="display:none" type="text" value="{{ solution.id }}" name="solution_id"/>
    							<input style="float:right;margin-left:5px;" class="btn btn-primary btn-sm" type="submit" value="Accept Solution" name="accept_solution"/>

    							<input style="float:right;margin-left:5px;" class="btn btn-primary btn-sm" type="submit" value="Negotiate" name="negotiate"/>
							   </form>
						     </td>
		            	   </tr>
		            	 </table>
		            </td>
		            </tr>
				   </tbody>
				  
				  </table>
			</div>
			{% endfor %}

			<br>
			{% endif %}

			<div>
				<form method='get' action='#'>
    				<input class="btn btn-primary btn-sm" type="submit" value="Close Project" name="Close"/>
				</form>
			</div>
			{% endif %}

		{% else %}
			{% if is_closed %}
			<br>
			{% else %}
			<div>
				<form method='get' action='#'>
    				<input class="btn btn-primary btn-sm" type="submit" value="Submit Solution" name="submit_solution"/>
				</form>
			</div>
			{% endif %}
		{% endif %}
	</div>

</div>

{% endblock %}